<script src="https://cdn.jsdelivr.net/npm/chart.js@3.6.0/dist/chart.min.js"></script>
<%= turbo_stream_from @session %>
<%= turbo_stream_from @session, :projects %>
<%= turbo_stream_from @session, :scores %>
<div class="wrapper" data-controller="project chart" data-project-index-value="<%= @current_project.id %>">
  <div id="content">
    <%= turbo_frame_tag @session do %>
      <%= render @session %>
    <% end %>
    <canvas id="myChart" width="500" height="500"></canvas>
    <hr>
    <%= render 'sessions/current_project_form', current_project: @current_project %>
  </div>
  <div id="sidebar">
    <h4>Projects</h4>
    <ul class="list-group">
      <%= turbo_frame_tag :projects do %>
        <%= render @projects %>
      <% end %>
    </ul>
    <hr>
    <%= render 'projects/form', project: @project %>
  </div>
</div>
<div id="usernameModal" class="modal" tabindex="-1" role="dialog" data-controller="user-set" data-bs-keyboard="false" data-bs-backdrop="static">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Set Username</h5>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <input class="form-control" data-user-set-target="username"></input>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary" data-action="click->user-set#save">Save</button>
    </div>
  </div>
</div>
</div>
