<%= turbo_stream_from @session %>
<%= turbo_stream_from @session, :projects %>
<%= turbo_stream_from @session, :scores %>
<main class="py-10 w-full" data-controller="project chart edit-project">
  <!-- Page header -->
  <div class="max-w-3xl mx-auto px-4 sm:px-6 md:flex md:items-center md:justify-between md:space-x-5 lg:max-w-7xl lg:px-8">
    <div class="flex items-center space-x-5">
      <div>
        <h1 class="text-2xl font-bold text-gray-900">
          <%= turbo_frame_tag @session do %>
            <%= render @session %>
          <% end %>
        </h1>
      </div>
    </div>
    <div class="mt-6 flex flex-col-reverse justify-stretch space-y-4 space-y-reverse sm:flex-row-reverse sm:justify-end sm:space-x-reverse sm:space-y-0 sm:space-x-3 md:mt-0 md:flex-row md:space-x-3">
    </div>
  </div>
  <div class="mt-8 max-w-3xl mx-auto grid grid-cols-1 gap-6 sm:px-6 lg:max-w-7xl lg:grid-flow-col-dense lg:grid-cols-3">
    <div class="space-y-6 lg:col-start-1 lg:col-span-2">
      <section aria-labelledby="applicant-information-title">
        <div class="bg-white shadow sm:rounded-lg px-4 py-5">
          <canvas id="myChart" width="500" height="500" class="mx-auto"></canvas>
          <%= render 'sessions/current_project_form', current_project: @current_project %>
        </div>
      </section>
    </div>
    <section aria-labelledby="timeline-title" class="lg:col-start-3 lg:col-span-1">
      <div class="bg-white px-4 py-5 shadow sm:rounded-lg sm:px-6">
        <h2 id="timeline-title" class="text-lg font-medium text-gray-900">Projects</h2>
        <div id="sidebar">
          <ul class="list-group">
            <%= turbo_frame_tag :projects do %>
              <%= render @projects %>
            <% end %>
          </ul>
          <hr>
          <%= render 'projects/form', project: @project %>
        </div>
      </div>
    </section>
  </div>
  <%= render 'modals/edit_project_modal' %>
  <%= render 'modals/edit_user_modal' %>
</main>
