<%= form_with(model: [@session, @project], data: { controller: 'reset-form', action: 'turbo:submit-end->reset-form#reset'}) do |form| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>
      <ul>
        <% @project.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <%= form.text_field :name, class: 'form-control', placeholder: 'New Project', required: true %>
  </div>
</br>
<div class="actions">
  <%= form.submit class: 'btn btn-primary', 'data-reset-form-target': 'button' %>
</div>
<% end %>
