<!DOCTYPE html>
<html>
  <head>
    <title>pSquare</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body class="d-flex flex-column h-100">
    <header class="bg-teal-600">
      <nav class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8" aria-label="Top" data-controller="user">
        <div class="w-full py-6 flex items-center justify-between border-b border-teal-500 lg:border-none">
          <div class="flex items-center">
            <a href="/">
              <span class="sr-only">Workflow</span>
              <h4 class="text-2xl font-extrabold text-white">pSquare</h4>
            </a>
            <div class="hidden ml-10 space-x-8 lg:block">
              <a href="/" class="text-base font-medium text-white hover:text-teal-50"> Home </a>
            </div>
          </div>
          <div class="ml-10 space-x-4">
            <a class="inline-block bg-teal-500 py-2 px-4 border border-transparent rounded-md text-base font-medium text-white hover:bg-opacity-75" id="nav-username"></a>
          </div>
        </div>
        <div class="py-4 flex flex-wrap justify-center space-x-6 lg:hidden">
          <a href="/" class="text-base font-medium text-white hover:text-teal-50"> Home </a>
        </div>
      </nav>
    </header>
    <main class="mx-auto mt-10 flex">
      <%= yield %>
    </main>
    <%= render 'layouts/footer' %>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <% if Rails.env.production? %>
      <script async src="https://ackee.orochena.net/tracker.js" data-ackee-server="https://ackee.orochena.net" data-ackee-domain-id="82a3915a-d654-432d-9d7b-a480d0a4eb5c"></script>
    <% end %>
  </body>
</html>
